.app {
  width: min(95%, 1400px);
  margin-inline: auto;
  & .container {
    margin: 1rem 0;
    & .logo {
      color: $logo-color;
      font-weight: normal;
      font-size: 24px;
      & span {
        font-weight: 600;
      }
    }

    & .jobs-container {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1rem;
    }
  }
}
