.header-section {
  background: no-repeat center url('../thumbs/backgroundImg.png');

  height: 140px;
  border-radius: 8px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & .serch-form {
    width: min(80%, 1000px);
    background: aliceblue;
    border-radius: 4px;
    display: grid;
    grid-template-columns: min(80%, 700px) min(20%, 500px);
    & .input-control {
      display: inline-flex;
      align-items: center;
      & span {
        padding-left: 1rem;
        font-weight: 400;
        color: $text-color-2;
      }
      & input {
        padding: 1rem 1rem 1rem 0.5rem;
        font-size: min(100%, 24px);
        background: aliceblue;
        width: min(100%, 1000px);
      }
    }
    & button {
      background: #1e86ff;
      color: aliceblue;
      margin: 0.5rem 0.5rem 0.5rem 0;
      // padding: 0 1rem;
      border-radius: 4px;
      font-size: 100%;
      font-weight: 600;
      text-transform: capitalize;
      & .search-icon {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  button {
    & .search-icon {
      display: block;
    }
  }
}
